.code-editor {
    flex: 1;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .editor-container-monaco {
    flex: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }